@page "/hms/customers"
@attribute [MustHavePermission(FSHAction.View, FSHResource.Customers)]

@inject IStringLocalizer<Customers> L

<FshTitle Title="Customers" Description="Manage Customers." />

<EntityTable @ref="_table" TEntity="CustomerDto" TId="Guid" TRequest="CustomerViewModel" Context="@Context">

    <AdvancedSearchContent>
        <CustomerclassificationAutocomplete @bind-Value="SearchCustclassificationId" />
    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" ReadOnly DisableUnderLine Label="Customer Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Address Line 1" For="@(() => context.AddressLine1)" @bind-Value="context.AddressLine1" />
        </MudItem>

        <MudItem xs="12" md="6">
            <MudTextField Label="Address Line 2" For="@(() => context.AddressLine2)" @bind-Value="context.AddressLine2" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="City" For="@(() => context.City)" @bind-Value="context.City" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Country" For="@(() => context.Country)" @bind-Value="context.Country" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Pincode" For="@(() => context.Pincode)" @bind-Value="context.Pincode" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Phone Number" For="@(() => context.PhoneNumber)" @bind-Value="context.PhoneNumber" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Email" For="@(() => context.Email)" @bind-Value="context.Email" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" />
        </MudItem>

        <MudItem xs="12" md="6">
            <CustomerclassificationAutocomplete For="@(() => context.CustomerclassificationId)" @bind-Value="context.CustomerclassificationId" OffsetY="true" />
        </MudItem>
        <MudItem xs="12" md="12">
            <MudItem>
                @if(!string.IsNullOrEmpty(context.ImageInBytes))
                {
                    <MudAvatar Image ="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
            </MudItem>
            <MudItem>
                <div>
                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                        StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
                        @L["Upload"]
                    </MudButton>
                    @if(!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.RemoveRedEye" Link="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;" >
                            @L["View"]
                        </MudButton>

                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                            StartIcon="@Icons.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;" >
                            @L["Delete"]
                        </MudButton>
                    }
                    @if(!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.Clear" Style="margin-left: 5px;" >
                            @L["Clear"]
                        </MudButton>
                    }
                </div>
                <InputFile id="fileInput" hidden OnChange="UploadFiles" />
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>