@page "/hms/purchases"
@attribute [MustHavePermission(FSHAction.View, FSHResource.Purchases)]

@inject IStringLocalizer<Purchases> L

<FshTitle Title="Purchases" Description="Manage Purchases." />

<EntityTable @ref="_table" TEntity="PurchaseDto" TId="Guid" TRequest="PurchaseViewModel" Context="@Context">

    <AdvancedSearchContent>
        <VendorAutocomplete @bind-Value="SearchVendorId" />
        <DepartmentAutocomplete @bind-Value="SearchDepartmentId" />
        <TransactionstatusAutocomplete @bind-Value="SearchTransactionstatusId" />
    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" ReadOnly DisableUnderLine Label="Purchase Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudDatePicker Label="Purchase Date" For="@(() => context.PurchaseDate)" @bind-Date="context.PurchaseDate" />
        </MudItem>
        <MudItem xs="12" md="6">
            <VendorAutocomplete For="@(() => context.VendorId)" @bind-Value="context.VendorId" OffsetY="true" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Amount" For="@(() => context.Amount)" @bind-Value="context.Amount" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Notes" For="@(() => context.Notes)" @bind-Value="context.Notes" />
        </MudItem>
        <MudItem xs="12" md="6">
            <DepartmentAutocomplete For="@(() => context.DepartmentId)" @bind-Value="context.DepartmentId" OffsetY="false" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Bill/Invoice Number" For="@(() => context.BillsOrInvoiceNumber)"
                          @bind-Value="context.BillsOrInvoiceNumber" />
        </MudItem>
        <MudItem xs="12" md="6">
            <TransactionstatusAutocomplete For="@(() => context.TransactionstatusId)" @bind-Value="context.TransactionstatusId" OffsetY="false" />
        </MudItem>
        <MudItem xs="12" md="12">
            <MudItem>
                @if(!string.IsNullOrEmpty(context.ImageInBytes))
                {
                    <MudAvatar Image ="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
                else
                {
                    <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (Config[ConfigNames.ApiBaseUrl] + @context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                }
            </MudItem>
            <MudItem>
                <div>
                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                        StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
                        @L["Upload"]
                    </MudButton>
                    @if(!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.RemoveRedEye" Link="@(Config[ConfigNames.ApiBaseUrl] + @context.ImagePath)" Style="margin-left: 5px;" >
                            @L["View"]
                        </MudButton>

                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                            StartIcon="@Icons.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;" >
                            @L["Delete"]
                        </MudButton>
                    }
                    @if(!string.IsNullOrEmpty(context.ImageInBytes))
                    {
                        <MudButton HtmlTag="label" DisableElevation OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Filled.Clear" Style="margin-left: 5px;" >
                            @L["Clear"]
                        </MudButton>
                    }
                </div>
                <InputFile id="fileInput" hidden OnChange="UploadFiles" />
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>